
::selection {
  background: #2D2F36;
}

::-moz-selection {
  background: #2D2F36;
}
body {
  background: white;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  margin: 0;


}
.page {
  background: #e2e2e5;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  place-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .page {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.container {
  display: flex;
  height: 370px;
  margin: 0 auto;
  width: 640px;
}
@media (max-width: 767px) {
  .container {
    flex-direction: column;
    height: 630px;
    width: 320px;
  }
}
.left {
  background: white;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .left {
    height: 100%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }
}
.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
}
.eula {
  color: #999;
  font-size: 17px;
  line-height: 1.5;
  margin: 40px;
}
.right {
  background: #474A59;
  box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
  color: #F1F1F2;

  position: relative;
  width: 50%;
}
@media (max-width: 767px) {
  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }
}
svg {
  position: absolute;
  width: 320px;
}
.form {
  margin-left: 40px;
  margin-top: 20px;
  position: absolute;
}
label {
  color:  #c2c2c5;
  display: block;
  font-size: 17px;
  height: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}
input {
  padding: 2px;
  border-radius: 5px;
  background:  #2D2F36;
  color: #f2f2f2;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  width: 100%;
}

input:focus {
    box-shadow: inset 0 -2px 0 0 #c2c2c5;
}


input::-moz-focus-inner {
  border: 0;
}

.btn{
  margin-top: 30px;
  background-color: white;
  display: block;
  position: center;
  font-size: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  padding: 16px 32px;
  cursor: pointer;
  color: #252930;
  border: 2px solid #252930;
  border-radius: 40px;
  box-shadow: 0px 0px 40px 7px rgba(0,0,0,0.40);
}

.btn:hover {
  background-color: #252930;
  color: white;
  box-shadow: none;
}

.btn-close{
  margin-top: 20px;
  margin-left: 200px;
  background-color: white;
  display: block;
  position: center;
  font-size: 17px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  width: 80px;
  height: 30px;
  cursor: pointer;
  color: #252930;
  border: 2px solid #252930;
  border-radius: 40px;
  box-shadow: 0px 0px 40px 5px rgba(0,0,0,0.40);
}

.btn-close:hover {
  background-color: #252930;
  color: white;
  box-shadow: none;
}

