body {
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: initial;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.header{
    box-shadow: 0 7px 7px -4px rgba(0, 0, 0, .2);
    height: 6%;
    min-height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}

.header-name{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.help{
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}


.tooltip{
    right: 0;
    border-bottom: 1px;
    position: relative;
    cursor: pointer;
}

.tooltip:before,
.tooltip:after {
    display: block;
    position: absolute;
    opacity:0;
    visibility: hidden;
    margin-top: 15px;
    transition: 0.7s;
}

.tooltip:before{
    background-color: #252930;
    content: attr(data-title);
    color:lightgray;
    font-weight: initial;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    margin-left: -160px;
    top:50px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;


}

.tooltip:after {
    content: "";
}

.tooltip:hover:before{
    visibility: visible;
    opacity:1;
    margin-top: 0;
}


.sidebar{
    width: 145px;
    height: 100%;
    position: fixed;
    min-width: 145px;
    background-color: #252930;
    color: lightgray;


}

.sidebar-name{
    color:white;
    font-size: 25px;
    display: block;
    line-height: 65px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom:1px solid black;

}

.sidebar-name p{
}
.sidebar ul a{
    font-size: 20px;
    display: block;
    line-height: 65px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    /*border-bottom:1px solid rgba(255,255,255,.1);*/
    border-bottom:1px solid black;
    transition: 0.4s;
}

ul li:hover a{
    padding-left:30px;
}

.main{
    margin-left:145px;
    display: inline-block;
    width: 100%;
    min-height: 100vh;

}

.main-form{
    width: 100%;
}



.warpper {
    display: flex;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    background: #252930;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 3px 1px #b0b0b0;

}

.panels {
    box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 20px ;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background: #fff;
  color: #000;
  border-top: 3px solid #252930;
}

.main-window{
    padding-top: 20px;
}

.btn{
    background-color: transparent;
    width: 300px;
    margin: 0 auto;
    display: block;
    position: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;
}

.btn:hover {
    background-color: #252930;
    color: white;
}


.tasks {
    margin: 0 auto;
    display: block;
    position: center;
    list-style-type: none;
    color: black;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    min-height: 150px;
    width: 70%;
    background-color: white;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
    transition: all .3s ease-out;
}

.tasks_appl {
    margin: 0 auto;
    display: flex;
    position: center;
    list-style-type: none;
    color: black;
    margin-bottom: 30px;
    font-size: 20px;
    padding: 20px 20px 20px 20px;
    min-height: 150px;
    width: 70%;
    background-color: white;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
    transition: all .3s ease-out;
}

.task-inf h1{
    padding-top: 15px;
    font-size: 22px;
    font-weight: bold;
}

.desc{
    padding-top: 10px;
    padding-right: 50px;
}

.applo{
    width: 250px;
}
.desc1{
    font-size: 23px;
    padding-top: 35px;
    padding-left: 10px;
}

.desc2{
    font-size: 15px;
    padding-top: 10px;
    padding-right: 50px;
}


.time{
    padding-top: 10px;
    display: flex;
    justify-content: right;
    color: #eb4f37;
}

.time_2{
    padding-top: 10px;
    display: flex;
    justify-content: right;
    color: #44cc66;
}

.toggler-wrapper {
  display: block;
  width: 45px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

.toggler-wrapper input[type="checkbox"] {
  display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    padding-top:25px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  position: absolute;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
  background-color: transparent;
  border-color: #44cc66;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.7;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider:after {
  opacity: 0;
  -webkit-transform: translateY(20px);
  transform: translateY(20px);
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
  left: calc(100% - 19px - 3px);
  background-color: #44cc66;
}

.toggler-wrapper .toggler-slider {
  background-color: transparent;
  border: 2px solid #eb4f37;
}

.toggler-wrapper .toggler-slider:before {
    content: 'Выполнена';
    position: absolute;
    top:3px;
    left:50px;
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}

.toggler-wrapper .toggler-slider:after {
    content: 'Активна';
    position: absolute;
    top:3px;
    left:50px;
    font-size: 75%;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0.7;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
  width: calc(25px - 6px);
  height: calc(25px - 6px);
  border-radius: 50%;
  left: 3px;
  top: 3px;
  background-color: #eb4f37;
}


.modal{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0,0,0,.3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;

}

.modal.open{
    visibility: visible;
    opacity: 1;
}

.modal_box{
    max-width: 700px;
    min-height: 800px;
    padding: 45px;
    z-index: 1;
    margin: 30px 15px;
    background-color: white;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;

}

.modal_box h1{
    margin-right: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 40px;
}

.modal_box p{

    font-weight: bold;
    font-size: 25px;
}


.modal_header{
    display: inline-flex;
}

.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 17px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 15px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

.ok{
    height: 45px;
}

.profile{
    margin-top: 50px;
    display: block;
    list-style-type: none;
    color: black;
    margin-bottom: 30px;
    font-size: 25px;
    padding: 30px 30px 30px 30px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px black;
    border-radius: 10px;
    transition: all .3s ease-out;
}


.profile-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
}

.input:focus{
    border: 1px solid lightslategrey;
    border-radius: 5px;
}
.input{
    border-radius: 10px;
    margin-bottom: 16px;
    padding-left: 5px;
    color: lightslategrey;
    background-color: #F0F0F0;
    /*border: 2px solid lightslategrey;*/
    /*border-radius: 5px;*/
}

.profile .photo_url{

    color:maroon;
    border-bottom: 2px solid maroon;
}

.error{
    font-size: 25px;
   color:maroon;

}

.img{
    border-radius: 10px;
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 10px;
    border: 2px solid #252930;
}

.profile-text{
    display: grid;
}
.profile-text li{
    display: inline-flex;
}
.profile-text p{
    font-weight: bold;
    margin-right: 10px;
}

.noauth{
    margin-top: 150px;
    height: 80%;
    width: 90%;
    margin-left: 100px;
    font-weight: bold;
    font-size: 40px;
}

.but{
    margin-top: 20px;
    background-color: transparent;
    width: 350px;
    text-align: center;
    font-size: 30px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;

}

.but:hover {
    background-color: #252930;
    color: white;
}

.noauth span{
    font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
    display: block;
    margin: 0 auto;
  	text-shadow: 0 0 80px rgba(255,255,255,.5);

/* Clip Background Image */

	  background: url("/media/photos/23/05/11/2.jpg") repeat-y;
	  -webkit-background-clip: text;


/* Animate Background Image */

	  -webkit-text-fill-color: transparent;
	  -webkit-animation: aitf 40s linear infinite;

/* Activate hardware acceleration for smoother animations */

	  -webkit-transform: translate3d(0,0,0);
	  -webkit-backface-visibility: hidden;
}
@-webkit-keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


.but_close{
    text-align: center;
    right: 0;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    width: 100px;
    height: 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;

}

.but_close:hover {
    background-color: #252930;
    color: white;
}

.profile_btn{
    align-items: center;
    align-content: center;
    display: block;
    margin: 0 auto;
    position: center;

}

.btn_prof{
    margin-top: 20px;
    background-color: transparent;
    width: 300px;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;

}
.btn_prof_exit{
    position: absolute;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    background-color: transparent;
    width: 300px;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;

}


.btn_prof:hover {
    background-color: #252930;
    color: white;

}
.btn_prof_exit:hover {
    background-color: #252930;
    color: white;

}


.btn_down{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: transparent;
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;

}
.btn_down:hover {
    background-color: #252930;
    color: white;

}


.order_{
    height: 60px;
}

.staff-add{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 25px;
    box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
    background-color: white;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;

}

.staff-add_header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.but_staff{
    margin-top: 20px;
    background-color: transparent;
    width: 250px;
    text-align: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;
}

.but_staff:hover {
    background-color: #252930;
    color: white;
}







