body {
    display: flex;
    font-weight: initial;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
.header{
    box-shadow: 0 7px 7px -4px rgba(0, 0, 0, .2);
    height: 6%;
    min-height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}

.header-name{
    font-size: 25px;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
}

.help{
    position: absolute;
    right: 0;
    padding-right: 20px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 20px;
}


.tooltip{
    right: 0;
    border-bottom: 1px;
    position: relative;
    cursor: pointer;
}

.tooltip:before,
.tooltip:after {
    display: block;
    position: absolute;
    opacity:0;
    visibility: hidden;
    margin-top: 15px;
    transition: 0.7s;
}

.tooltip:before{
    background-color: #252930;
    content: attr(data-title);
    color:lightgray;
    font-weight: initial;
    min-width: 200px;
    min-height: 50px;
    border-radius: 5px;
    margin-left: -160px;
    top:50px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;


}

.tooltip:after {
    content: "";
}

.tooltip:hover:before{
    visibility: visible;
    opacity:1;
    margin-top: 0;
}


.sidebar{
    width: 7.5%;
    height: 100%;
    min-width: 145px;

    background-color: #252930;
    color: lightgray;


}

.sidebar-name{
    color:white;
    font-size: 25px;
    display: block;
    line-height: 65px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom:1px solid black;

}
.sidebar ul a{
    font-size: 20px;
    display: block;
    line-height: 65px;
    padding-left: 20px;
    box-sizing: border-box;
    border-top:1px solid rgba(255,255,255,.1);
    /*border-bottom:1px solid rgba(255,255,255,.1);*/
    border-bottom:1px solid black;
    transition: 0.4s;
}

ul li:hover a{
    padding-left:30px;
}

.main{
    display: inline-block;
    width: 92.5%;
    min-height: 100vh;

}

.main-form{
    height: 94%;
    width: 100%;
}



.warpper {
    display: flex;
    flex-direction: column;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 10px;
    background: #252930;
    display: inline-block;
    color: #fff;
    border-radius: 3px 3px 0 0;
    box-shadow: 0 0 3px 1px #b0b0b0;

}

.panels {
    box-shadow: 0 -6px 4px -4px rgba(0, 0, 0, .2);
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    overflow: hidden;
    padding: 20px;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
  display: block;
}

#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab{
  background: #fff;
  color: #000;
  border-top: 3px solid #252930;
}

.main-window{
padding-top: 20px;
}

.btn{
    margin: 0 auto;

    display: block;
    position: center;
    font-size: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    padding: 16px 32px;
    cursor: pointer;
    color: #252930;
    border: 2px solid #252930;
    border-radius: 6px;
}

.btn:hover {
    background-color: #252930; /* Green */
    color: white;
}
