{% extends 'itservice/main.html' %}
{% block content %}
<div class="header-name">
    Клиенты
</div>
 <div class="help">
    <span class="tooltip" data-title="Это окно ваших клиентов.
Создавайте клиентов и поставщиков для отслеживания истории работы с ними.">Помощь</span>
 </div>
{% endblock %}
{% block content1 %}

<div class="main-window">
    <button class="btn" id="open">Добавить клиента</button>

    <div class="modal" id="modal_task">
         <div class="modal_box">
             <div class="modal_header">
             <h1>Добавление клиента</h1>
             <button class="but_close" id="close">Закрыть</button>
             </div>
             <form action="{% url 'clients' %}" method="post">
             {% csrf_token %}
             {{form.non_field_errors}}
             <p>
                      <label>Тип клиента:</label>
                      {{form.client_type}}
                  </p>
                  <p>
                      <label for="id_client_name">Имя клиента:</label>
                      <input class="input"  type="text" name="client_name" maxlength="50" required="" id="id_client_name">
                  </p>
                  <p>
                      <label for="id_client_phone">Номер телефона:</label>
                      <input class="input"  type="text" name="client_phone" maxlength="40" required="" id="id_client_phone">
                  </p>
                  <p>
                      <label for="id_client_email">Email:</label>
                      <input class="input"  type="text" name="client_email" maxlength="100" required="" id="id_client_email">
                  </p>
                  <p>
                      <label for="id_client_address">Адрес:</label>
                      <input class="input" type="text" name="client_address" maxlength="50" required="" id="id_client_address">
                  </p>
                  <p>
                      <label>Откуда клиент узнал о нас?</label>
                      {{form.client_found}}
                  </p>
             <button class="but" type="submit">Добавить</button>
           </form>
         </div>
    </div>
<div class="ok"></div>
    <div class="warpper">
        <div class="panels">
            <div class="panel-title">Клиенты</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Тип клиента</th>
                    <th>Имя клиента</th>
                    <th>Номер телефона</th>
                    <th>Email</th>
                    <th>Адрес</th>
                    <th>Откуда клиент узнал о нас?</th>
                </tr>

                </thead>
                <tbody>
                {% for c in clients%}
                <tr>
                        <td><a href="{% url 'clients' %}">{{c.client_type}}</a></td>
                        <td>{{c.client_name}}</td>
                        <td>{{c.client_phone}}</td>
                        <td>{{c.client_email}}</td>
                        <td>{{c.client_address}}</td>
                        <td>{{c.client_found}}</td>

                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}