{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'itservice/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'itservice/css/main.css' %}" type="text/css">
    <title>IT Service</title>
</head>
<body>

<div class="sidebar">
    <ul>
        <li><a href="{% url 'profile' %}">Profile</a></li>
        <li><a href="{% url 'tasks' %}">Tasks</a></li>
        <li><a href="{% url 'orders' %}">Work Orders</a></li>
        <li><a href="{% url 'sales' %}">Sales</a></li>
        <li><a href="{% url 'inventory' %}">Inventory</a></li>
        <li><a href="{% url 'clients' %}">Clients</a></li>
    </ul>
</div>
<main class="main">
    <div class="header">
       {% block content %}

        {% endblock %}
    </div>
    <div class="main-form">
        {% block content1 %}

        {% endblock %}
    </div>
</main>

</body>
</html>