{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'itservice/css/reset.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'itservice/css/main.css' %}" type="text/css">
    <title>IT Service</title>
</head>
<body>
<div class="sidebar">
    <div class="sidebar-name">
        IT Service
    </div>
    {% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'profile' %}">Профиль</a></li>
        <li><a href="{% url 'tasks' %}">Задачи</a></li>
        <li><a href="{% url 'orders' %}">Заказы</a></li>
        <li><a href="{% url 'sales' %}">Продажи</a></li>
        <li><a href="{% url 'inventory' %}">Склад</a></li>
        <li><a href="{% url 'clients' %}">Клиенты</a></li>
        {% if user.user_role == 'Администратор'%}
        <li><a href="{% url 'staff' %}">Сотрудники</a></li>
        <li><a href="{% url 'applications' %}">Заявки</a></li>
        <li><a href="{% url 'admin:index' %}">Админ</a></li>
        {% elif  user.user_role == 'Менеджер' %}
        <li><a href="{% url 'staff' %}">Сотрудники</a></li>
        <li><a href="{% url 'applications' %}">Заявки</a></li>
        {%endif%}
    </ul>
    {% else %}

    {%endif%}
</div>
<main class="main">
    {% if user.is_authenticated %}
    <div class="header">
       {% block content %}

        {% endblock %}
    </div>
    <div class="main-form">
        {% block content1 %}

        {% endblock %}
    </div>
    {% else %}
    <div class="noauth">
        <span>Вы не авторизованны</span>
        <a class="but" href="{% url 'login' %}">Авторизоваться</a>
    </div>
    {%endif%}
</main>
<script language="JavaScript">


    document.getElementById("open").addEventListener("click",function () {
    document.getElementById("modal_task").classList.add("open")
    })
    document.getElementById("close").addEventListener("click",function () {
    document.getElementById("modal_task").classList.remove("open")
    })

    window.addEventListener('keydown', (e) => {
        if (e.key === "Escape"){
            document.getElementById("modal_task").classList.remove("open")
        }
    })



</script>


</body>
</html>