{% extends 'itservice/main.html' %}
{% block content %}
<div class="header-name">
    Продажи
</div>
 <div class="help">
    <span class="tooltip" data-title="Это окно ваших продаж.
    Продавайте товары, отслеживайте их оборот и анализируйте доход.">Помощь</span>
 </div>
{% endblock %}
{% block content1 %}
<script>
    const Download_table = ()=> {
        // var xmlHttp = new XMLHttpRequest();
        // xmlHttp.open("GET", "{% url 'sales-down' %}" , false);
        // xmlHttp.send();
        window.location="{% url 'sales-down' %}"

    }
</script>

<div class="main-window">
     {% if user.user_role == 'Администратор' or user.user_role == 'Менеджер' %}
    <button class="btn" id="open">Добавить продажу</button>

  {% else %}
  <div class="order_"></div>
  {%endif%}

    <div class="modal" id="modal_task">
         <div class="modal_box">
            <div class="modal_header">
             <h1>Добавление продажи</h1>
             <button class="but_close" id="close">Закрыть</button>
             </div>
            <form action="{% url 'sales' %}" method="post">
             {% csrf_token %}
             {{form.non_field_errors}}
                <p>
                    <label for="id_sales_name">Наименование работы:</label>
                    <input class="input" type="text" name="sales_name" maxlength="100" required="" id="id_sales_name">
                </p>
                <p>
                    <label for="id_sales_comment">Комментарий:</label>
                    <input class="input" type="text" name="sales_comment" maxlength="100" required="" id="id_sales_comment">
                </p>
                <p>
                    <label for="id_sales_price">Цена:</label>
                    <input class="input" type="text" name="sales_price" maxlength="100" required="" id="id_sales_price">
                </p>
                <p>
                    <label for="id_sales_time">Время продажи:</label>
                    <input class="input" type="datetime-local" name="sales_time" value="" required="" id="id_sales_time"><input type="hidden" name="initial-sales_time" value="2023-05-12 18:06:18" id="initial-id_sales_time">
                </p>
                <p>
                    <label>Клиент:</label>
                    {{form.sales_client}}
                </p>
<!--             {{form.as_p}}-->
             <button class="but" type="submit">Добавить</button>
           </form>
         </div>
    </div>
<div class="ok"></div>
    <div class="warpper">
        <div class="panels">
<!--Кнопка для загрузки Excel файла с продажами-->
             <button class="btn_down" onclick="Download_table()" >Скачать таблицу</button>
            <div class="panel-title">Продажи</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Наименование работы</th>
                    <th>Комментарий</th>
                    <th>Цена</th>
                    <th>Время продажи</th>
                    <th>Клиент</th>
                </tr>

                </thead>
                <tbody>
                {% for s in sale%}
                <a href="{% url 'sales' %}">
                    <tr>
                        <td>{{s.sales_name}}</td>
                        <td>{{s.sales_comment}}</td>
                        <td>{{s.sales_price}}</td>
                        <td>{{s.sales_time}}</td>
                        <td>{{s.sales_client}}</td>
                    </tr>
                </a>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}