{% extends 'itservice/main.html' %}
{% block content %}
<div class="header-name">
    Задачи
</div>
 <div class="help">
    <span class="tooltip" data-title="Это окно активных задач коллектива.
Назначайте задачи членам вашей команды или себе, чтобы все сделать вовремя.">Помощь</span>
 </div>

{% endblock %}
{% block content1 %}
<script>
<!--Скрипт для внесения изменений в бд, после переключения чекбокса-->
    const Change_task_status = (task_id)=> {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("POST", "{% url 'tasks-change' %}" , false);
        xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlHttp.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        console.log(xmlHttp);
        xmlHttp.send(`{"task_id": ${task_id}}`);
        window.location.reload()
    }
</script>


<div class="main-window">
    {% if user.user_role == 'Администратор' or user.user_role == 'Менеджер' %}
  <button class="btn" id="open">Добавить задачу</button>
  {% else %}
  <div class="order_"></div>
  {%endif%}
    <div class="modal" id="modal_task">
         <div class="modal_box">
             <div class="modal_header">
             <h1>Добавление задачи</h1>
             <button class="but_close" id="close">Закрыть</button>
             </div>
             <form action="{% url 'tasks' %}" method="post">
                 {% csrf_token %}
                 {{form.non_field_errors}}
                 <p>
                     <label for="id_task_name">Название задачи:</label>
                     <input class ="input" type="text" name="task_name" maxlength="50" required="" id="id_task_name">
                 </p>
                 <p>
                     <label for="id_task_description">Описание задачи:</label>
                     <input class ="input" type="text" name="task_description" maxlength="1000" required="" id="id_task_description">
                 </p>
                 <p>
                     <label for="id_task_time">Крайний срок:</label>
                     <input class ="input" type="datetime-local" name="task_time" value="" required="" id="id_task_time"><input type="hidden" name="initial-task_time" value="2023-05-12 17:26:32" id="initial-id_task_time">
                 </p>
                 <p>
                     <label for="id_task_active">Активна:</label>
                     <input class ="input" type="checkbox" name="task_active" id="id_task_active" checked="">
                 </p>
<!--                 {{form.as_p}}-->
                 <button class="but" type="submit">Добавить</button>
             </form>
         </div>
    </div>



    <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">В разработке</label>
            <label class="tab" id="two-tab" for="two">Выполненные</label>
        </div>

        <div class="panels">
            <div class="panel" id="one-panel">
                <div class="panel-title">Задачи в разработке</div>
                {% for p in task%}
                 {% if p.task_active == 1 %}
                <div class="tasks">
                    <div>
                        <label class="toggler-wrapper ">
                            {% if p.task_active %}
                            <input type="checkbox" onclick="Change_task_status({{p.id}})"/>
                            {% else %}
                            <input type="checkbox" onclick="Change_task_status({{p.id}})" checked/>
                            {%endif%}
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    <li class="task-inf">
                        <h1>{{p.task_name}}</h1>
                        <p class="desc">{{p.task_description|linebreaks|truncatewords:25}}</p>
                        <p class="time">Крайний срок: {{p.task_time}}</p>
                    </li>
                </div>
                 {% else %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="panel" id="two-panel">
                <div class="panel-title">Выполненные задачи</div>
                {% for p in task%}
                 {% if p.task_active == 0 %}
                <div class="tasks">
                    <div>
                        <label class="toggler-wrapper ">
                             {% if p.task_active %}
                            <input type="checkbox" onclick="Change_task_status({{p.id}})"/>
                            {% else%}
                            <input type="checkbox" onclick="Change_task_status({{p.id}})" checked/>
                            {%endif%}
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    <li class="task-inf">
                        <h1>{{p.task_name}}</h1>
                        <p class="desc">{{p.task_description|linebreaks|truncatewords:25}}</p>
                        {% if p.task_active %}
                        <p class="time">Крайний срок: {{p.task_time}}</p>
                        {% else%}
                        <p class="time_2">Крайний срок: {{p.task_time}}</p>
                        {%endif%}
                    </li>
                </div>
                 {% else %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}