{% extends 'itservice/main.html' %}
{% block content %}
<div class="header-name">
    Задачи
</div>
 <div class="help">
    <span class="tooltip" data-title="Это окно активных задач коллектива.
Назначайте задачи членам вашей команды или себе, чтобы все сделать вовремя.">Помощь</span>
 </div>

{% endblock %}
{% block content1 %}
<div class="main-window">
    <button class="btn" id="open">Добавить задачу</button>

    <div class="modal" id="modal_task">
         <div class="modal_box">
             <button class="btn" id="close">x</button>
             <h1>Добавление задачи</h1>
             <form action="{% url 'tasks' %}" method="post">
                 {% csrf_token %}
                 {{form.non_field_errors}}
                 {{form.as_p}}
                 <button type="submit">Добавить</button>
             </form>

         </div>
    </div>



    <div class="warpper">
        <input class="radio" id="one" name="group" type="radio" checked>
        <input class="radio" id="two" name="group" type="radio">
        <div class="tabs">
            <label class="tab" id="one-tab" for="one">В разработке</label>
            <label class="tab" id="two-tab" for="two">Выполненные</label>
        </div>

        <div class="panels">
            <div class="panel" id="one-panel">
                <div class="panel-title">Задачи в разработке</div>
                {% for p in task%}
                 {% if p.task_active == 1 %}
                <a href="{{ p.get_absolute_url }}">
                    <div>
                        <label class="toggler-wrapper ">
                            <input type="checkbox" >
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    <li class="task-inf">
                        <h1>{{p.task_name}}</h1>
                        <p class="desc">{{p.task_description|linebreaks|truncatewords:25}}</p>
                        <p class="time">Крайний срок: {{p.task_time}}</p>
                    </li>
                </a>
                 {% else %}
                {% endif %}
                {% endfor %}
            </div>
            <div class="panel" id="two-panel">
                <div class="panel-title">Выполненные задачи</div>
                {% for p in task%}
                 {% if p.task_active == 0 %}
                <a href="{{ p.get_absolute_url }}">
                    <div>
                        <label class="toggler-wrapper ">
                            <input type="checkbox" >
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    <li class="task-inf">
                        <h1>{{p.task_name}}</h1>
                        <p class="desc">{{p.task_description}}</p>
                        <p class="time">Крайний срок: {{p.task_time}}</p>
                    </li>
                </a>
                 {% else %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}